.flex_header {
    display: flex;
    justify-content: end;
    gap: 0rem 5rem;
    list-style: none;
}

h1 {
    text-align: center;
}

div.form_parent {
    position: relative;
    height: 500px;
}

.block_form {
    width: 300px;
    background-color: #b1f3ca;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 3rem 5rem;
    border-radius: 20px;
    min-width: 150px;
    z-index: 20;
}

.none_form {
    width: 300px;
    background-color: #b1f3ca;
    position: absolute;
    top: -100%;
    left: -100%;
    transform: translateY(-50%) translateX(-50%);
    padding: 3rem 5rem;
    border-radius: 20px;
    min-width: 150px;
}

.contents {
    width: 100%;
}

.content {
    display: block;
    height: 150px;
}

.article_list {
    position: relative;
    z-index: 10;
    height: 400px;
    padding: 0rem 15%;
}

.blog_list {
    display: flex;
    flex-wrap: wrap;
}

.blog_content {
    box-sizing: border-box;
    padding: 1rem;
    background-color: #b1f3ca;
    border-radius: 15px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 200px;
    overflow-wrap: break-word;
    overflow:hidden;
}

.opacity {
    opacity: 0.4;
}

.font-weight {
    font-weight: bold;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}